*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width:720px) and (max-width:1020px){
    header{
        display: none;
    }
    .logo{
        display: none;
    }
    .login{
        display: none;
    }
    .cart{
        display: none;
    }
    nav{
        flex-wrap: wrap;
        display: flex;
        justify-content: start;
        align-items: start;
    }
    .address{
        width: 100%;
        
    }
    .search-bar{
        width: 100%;
    }
}